<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} Page</title>
    </head>
    <body>
        <h1>{{title}} Page Header</h1>
        <p>paragraph for {{title}} page</p>
        {{> footer}}
    </body>
</html>